.form{
    &-group{
        margin-bottom: 2.2rem;

        &_sm{
            margin-bottom: 2rem;
        }

        &_md{
            margin-bottom: 3rem;
        }

        &_lg{
            margin-bottom: 4rem;
        }

        &__label{
            .has-error &{
                color: $danger;
            }
        }
    }

    &-control{
        font-family: inherit;
        display: block;
        border: none;
        padding: 1rem;
        background: transparent;
        border-bottom: 1px solid #D4D4F0;
        border-radius: 0;
        width: 100%;
        font-size: 1.2rem;
        line-height: normal;
        font-weight: 400;
        transition: all 0.3s ease-out;

        .dark-theme &{
            color: #fff;
            border-color: $light;
        }

        .has-error &{
            border-color: $danger;
            color: $danger;

            &::-webkit-input-placeholder{color:$danger!important}
            &::-moz-placeholder{color:$danger!important}
            &:-moz-placeholder{color:$danger!important}
            &:-ms-input-placeholder{color:$danger!important}
        }

        &:disabled{
            background: #E8E8E8;
            border-color: #E8E8E8;

        }
    }

    &-check-input{
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        border-radius: 0.2rem;
        border: 1px solid #D4D4F0;
        background: #FFF;
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -0.1rem;

        .dark-theme &{
            border-color:#83839C;
            background: $light;
        }

        &:checked{
            &:before{
                opacity: 1;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 1.2rem;
            height: 0.9rem;
            background: url(../img/icons/check.svg) 0 0 no-repeat;
            transition: all 0.3s ease-out;
            opacity: 0;

            .dark-theme &{
                background-image: url(../img/icons/check-inversion.svg);
            }
        }
    }

    // &-radio-input{
    //     flex-shrink: 0;
    //     width: 2.4rem;
    //     height: 2.4rem;
    //     border-radius: 50%;
    //     background: transparent;
    //     border: 1px solid rgba(#191919, 0.3);
    //     transition: all 0.3s ease-out;
    //     margin-right: 1.6rem;
    //     position: relative;
    //     cursor: pointer;
    //     @include bp(sm){
    //         margin-right: 1.2rem;
    //     }
    //     &:hover{

    //     }
    //     &:checked{

    //         border-width: 8px;
    //     }
    // }
}

.error-mess{
    padding: 0.5rem 1rem 0;
    font-style: italic;
    font-size: 1rem;
    display: none;
    color: $danger;
    position: absolute;

    .has-error &{
        display: block;
    }
}


// rating
.rating{
    width: 6.2rem;
    height: 1rem;
    position: relative;
    background: url(../img/icons/rating.svg) 0 0 no-repeat;
    background-size: auto 100%;
    margin-right: 1.2rem;

    .dark-theme &{
      background-image: url(../img/icons/rating-dark.svg);
    }

    &__active{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: url(../img/icons/rating-active.svg) 0 0 no-repeat;
        background-size: auto 100%;
    }
}

// number
.input-number {
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #D4D4F0;

    .dark-theme &{
        border-color: #fff;
    }

    &__input {
        text-align: center;
        width: 100%;
        border: none;
        font-size: 1.3rem;
        background: transparent;
        width: 2rem;
        padding-bottom: 0.1rem;

        .dark-theme &{
            color: #fff;
        }
    }

    &__plus, &__minus{
        position: relative;
        width: 1.4rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease-out;
        flex-shrink: 0;

        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            width: 0.6rem;
            height: 0.1rem;
            transition: all 0.3s ease-out;
            background: $black;

            .dark-theme &{
                background: #fff;
            }
        }

        &:after{
            transform: rotate(90deg);
        }

        &:hover{

            &:before, &:after{

            }
        }
    }
    &__minus {
        &:after{
            display: none;
        }

        &:before{
            width: 0.6rem;
        }
    }
}

// fake-select
.fake-select{
    position: relative;
    &__info{
        display: inline-block;
        margin-left: 1.2rem;
    }
    &__item{
        display: block;
        padding: 1rem 2rem;
        transition: all 0.3s ease-out;
        white-space: nowrap;

        @include bp(hv){
            &:hover{
                background: rgba($secondary, 0.1);
            }
        }

        &.active{
            background: rgba($secondary, 0.3);
        }
    }
    &__link{
        white-space: nowrap;
        padding-right: 1.5rem;

        &::after{
            right: 0;
            width: 0.8rem;
            height: 0.8rem;
        }
    }
    &__dropdown-menu{
        right: 0;
        left: auto;
        box-shadow: 0px 12px 30px rgba(45, 45, 45, 0.18);
        border-radius: 0.3rem;

        .dark-theme &{
            background: $light;
        }
    }
}

// switch
.checkbox-switch{
    position: relative;
    display: inline-flex;
    width: 3rem;
    height: 1.6rem;
    padding: 1px;
    border-radius: 0;
    background: #D4D4F0;
    border-radius: 1rem;
    transition: all 0.3s ease-out;

    .dark-theme &{
        background: $light;
    }

    &:before{
        content: '';
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        background: #fff;
        border-radius: 50%;
        transition: all 0.3s ease-out;
        position: absolute;
        left: 0.1rem;
    }

    &-label{
        margin-left: 1rem;
        display: inline-flex;
    }
}
input:checked+.checkbox-switch{
    background: $primary;

    &:before{
        left: 1.5rem;
    }
}

// range
.range{
    &-wrap{
        margin: 0.4rem 0 2rem;
    }

    &-row{
        gap: 2rem;
    }

    &-input{
        border-radius: 0.2rem;
        border: 1px solid #D4D4F0;
        padding: 1.1rem 0.9rem;
        width: 46.5%;

        .dark-theme &{
            color: #fff;
            border-color:#83839C;
            background: $light;
        }
    }
}
.noUi-horizontal{
    height: 0.2rem;
    margin: 0 0.6rem 2.6rem;
    flex-grow: 1;

    .noUi-handle {
        height: 1.4rem;
        width: 1.4rem;
        top: -0.6rem;
        border-radius: 50%;
        right: -0.6rem;
        cursor: pointer;
        border-radius: 9px;
        background: #fff;
        border: 1px solid $primary;

        &:before, &:after{
            display: none;
        }
    }
}
.noUi-target{
    background: #EEEBFD;
    border: none;
    box-shadow: none;
}
.noUi-connect{
    background: $primary;
}