.d-none{
  display: none!important;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center!important;
}

.justify-content-end{
  justify-content: flex-end!important;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.d{
  &-block{
    display: block;
  }

  &-flex{
    display: flex!important;
  }

  &-inline-flex{
    display: inline-flex;
  }

  &-grid{
    display: grid;
    grid-gap: 3rem;

  }

  &-md{
      @include bp(md-up){
        &-none{
          display: none!important;
        }
        &-block{
          display: block!important;
        }
        &-inline{
          display: inline-block!important;
        }
        &-inline-flex{
          display: inline-flex!important;
        }
        &-flex{
          display: flex!important;
        }
        &-grid{
          display: grid!important;
          grid-gap: 3rem;
        }
      }
  }

  &-lg{
    @include bp(lg-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 3rem;
      }
    }
  }

  &-xl{
    @include bp(xl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline-flex{
        display: inline-flex!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-flex{
        display: flex!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 3rem;
      }
    }
  }

  &-xxl{
    @include bp(xxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 3rem;
      }
    }
  }

  &-xxxl{
    @include bp(xxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 3rem;
      }
    }
  }

  &-xxxxl{
    @include bp(xxxxl-up){
      &-none{
        display: none!important;
      }
      &-block{
        display: block!important;
      }
      &-inline{
        display: inline-block!important;
      }
      &-grid{
        display: grid!important;
        grid-gap: 3rem;
      }
    }
  }
}

.grid{
  &_sm{
    grid-gap: 2rem;
  }

  &_xs-mobile{
    @include bp(sm){
      grid-gap: 0.8rem;
    }
  }

  &-2{
    grid-template-columns: repeat(2, 1fr);
  }

  &-3{
    grid-template-columns: repeat(3, 1fr);
  }

  &-6{
    grid-template-columns: repeat(6, 1fr);
  }

  &-md-2{
    @include bp(md-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-md-3{
    @include bp(md-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-md-4{
    @include bp(md-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-lg-2{
    @include bp(lg-up){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-lg-3{
    @include bp(lg-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-lg-4{
    @include bp(lg-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-xl-3{
    @include bp(xl-up){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-xl-4{
    @include bp(xl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-xl-5{
    @include bp(xl-up){
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &-xxxl-4{
    @include bp(xxxl-up){
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.col-2{
  grid-column: span 2;

  &-md{
    @include bp(md-up){
      grid-column: span 2;
    }
  }
}

.col-3{
  grid-column: span 3;
}
.row-2{
  grid-row: span 2;
}

.me{
  &-auto{
    margin-right: auto;
  }

  &-1{
    margin-right: 1rem;
  }

  &-2{
    margin-right: 2rem;
  }
}

.ms{
  &-auto{
    margin-left: auto;
  }

  &-1{
    margin-left: 1rem;
  }

  &-2{
    margin-left: 2rem;
  }
}

.mt{
  &-xs{
    &_mobile{
      @include bp(sm){
        margin-top: 2rem!important;
      }
    }
  }

  &-sm{
    margin-top: 3rem;
  }

  &-md{
    margin-top: 4rem;
  }

  &-lg{
    margin-top: 8rem;

    @include bp(sm){
      margin-top: 5rem;
    }
  }

  &-xl{
    margin-top: 10rem;

    @include bp(sm){
      margin-top: 5rem;
    }
  }

  &-xxl{
    margin-top: 12.2rem;

    @include bp(sm){
      margin-top: 5rem;
    }
  }
}

.mb{
  &-0{
    margin-bottom: 0;
  }

  &-xs{
    // margin-bottom: 0.5rem;
  }

  &-sm{
    margin-bottom: 1.6rem;
  }

  &-md{
    margin-bottom: 3rem;
  }

  &-lg{
    margin-bottom: 5rem;

    @include bp(sm){
      &:not(.no-change){
        margin-bottom: 2.9rem;
      }
    }

    &_m{
      @include bp(sm){
        margin-bottom: 2rem;
      }
    }
  }

  &-xl{
    margin-bottom: 6rem;

    &_mobile{
      @include bp(sm){
        margin-bottom: 6rem;
      }
    }
  }
}

.pt{
  &-xs{
    padding-top: 0.4rem;
  }
}

.w-100{
  width: 100%!important;
  &_lg{
      @include bp(lg-up){
          width: 100%;
      }
  }
  &_md{
      @include bp(md){
          width: 100%;
      }
  }
  &_sm{
      @include bp(sm){
          width: 100%;
      }
  }
}

.order{
  &-md-2{
    @include bp(md-up){
      order: 2;
    }
  }

  &-lg-2{
    @include bp(lg-up){
      order: 2;
    }
  }
}